*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

body{
    font-family: 'Inter', sans-serif;
    background: #fff;
}
.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
.logo img{
    width: 120px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color:#555;
    font-size: 15px;
}
.nav-links a:hover{
    color:#2453FF;
}
.btn{
    text-decoration: none;
    background: #2453FF;
    color:#fff;
    padding: 12px 24px;
    border-radius: 8px;
}
.hero{
    height: 650px;
    background: url(./images/banner.jpg) center/cover no-repeat;
}
.hero-overlay{
    height: 100%;
    background: rgba(0,0,0,.55);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content{
    max-width: 700px;
    color:#fff;
}
.hero-content h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #eee;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    background: #2453FF;
    color: #fff;
    padding: 15px 35px;
    border-radius: 8px;
}
.speakers{
margin: 80px auto;
}
.speakers h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.speaker-card{
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.speaker-card img{
    width: 100%;
}
.speaker-info span{
    color: #2453FF;
    font-size: 13px;
    font-weight: bold;
}
.speaker-info h3{
    margin: 10px 0;
}
.speaker-info p{
    color: #666;
}
.pricing{
    margin: 90px auto;
}
.pricing-title{
    text-align: center;
    margin-bottom: 40px;
}
.pricing-title h2{
    font-size: 42px;
}
.pricing-title p{
    color: #666;
}
.pricing-container{
    display: flex;
    gap:25px;
}
.price-card{
    flex:1;
    border:1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
}
.active{
    background-color: #2453FF;
}

.price-card h1{
    margin: 15px 0;
    font-size: 42px;
}
.price-card ul{
    list-style: none;
    margin: 20px 0;
}
.price-card li{
    margin-bottom: 10px;
}
.price-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #2453FF;
    color:#fff;
    padding: 12px;
    border-radius: 8px;
    width:auto;
}
.active .price-btn{
    background-color: #fff;
    color: #2453FF;
}